.nav_payment_section{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;  
    margin-left: 22%;
}
.nav_payment_section > :nth-child(2){
    margin-left: 30%;
}

@media screen and (max-width:480px) {
    .nav_payment_section{
        margin-left: 4%;
    }
    .nav_payment_section >div:nth-child(2){
        visibility: hidden;
    }
    .nav_payment_section > div:nth-child(1){
        width:1200px;
        font-size: 13px;
       margin-top: 10px;
       
    }
    
}
.booking_summary{
    background-color: #e2e2e2;
    color: #666666;
    height: 46px;
    font-size: 16px;
    line-height: 24px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    

}
.booking_content{
    overflow-y: scroll;
    height: 120px;
    transform: none;
    transition: all 0s ease 0s;
    /* outline: rgb(255,0,0) dashed 1px; */
    background-color: white;
    box-shadow:rgba(75, 73, 73, 0.47) 0px 5px 15px;
}
.payment_Left_cont{
    width: 75%;
    margin-right: 15px;
    box-shadow:rgba(75, 73, 73, 0.47) 0px 5px 15px;

}
.payment_Right_cont{
    width: 25%;

}
.payment_method{
    background-color: #e2e2e2;
    color: #333333;
    height: 46px;
    font-size: 19px;
    line-height: 24px;
    padding: 8px 15px;
    margin-bottom: -18px;
    

}
.payment_Subcont{
    display: flex;
    flex-direction: row;
}
.payment_Left_subcont{

    display: flex;
    flex-direction: column;
    width: 20%;

}


.payment_Right_subcont{

    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: white;

}
.payment_detail{
    background-color:white ;
    box-shadow:rgba(75, 73, 73, 0.45) 0px 5px 15px;
    
}
.payment_detail_cont1{
    display: flex;
    justify-content: space-around;
    color: #666666;
    width: 96%;
    margin: 0px 4px 10;
    padding: 10px 0 10px 0;
    gap: 65px;
}
.payment_detail_cont2{
    display: flex;
    justify-content: space-around;
    color: #666666;
    width: 96%;
    margin: 20px 4px 30px;
    gap: 60px;
}
.payment_detail_line{
    background-color:#e2e2e2 ;
    height: 2px;
}
/*  style={{display:"inline-flex",justifyContent:"space-between",color:"#666666",width:"96%",margin:"10px 4px" */
    /* style={{backgroundColor:"#e2e2e2",height:"2px"}}> */