.FormGroup {
	width:97%;
	margin: 0 15px 20px;
	padding: 0;
	border-style: none;
	background-color: white;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 white;
	border-radius: 4px;
}

.FormRow {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	margin-left: 15px;
	border-top: 1px solid white;
}

.closemodal{
	top: 28%;
	position:fixed;
	color:#623381;
	right:33.8%;
	z-index: 10000;


}

.closemodal:hover{
	color:green;
}