.Success{
    width:30%;
    height:300px;
    background-color: white;
    position: fixed;

    top: 30%;
    left: 35%;
    opacity: 1 !important;
    z-index:1000;
    display:flex;
    flex-direction:column;
    align-items:center;

    
}
.Success img{
    width:45%;
    margin: 30px 25%;
}
.Success h1{
   color:#623381;
   font-weight: 900;
   font-size:40px;
   margin-top:0;
}

.succeswrapper{
    position:fixed;
    top: 10%;
    right:0;
    
    width:100%;
    height:100%;
    background-color:rgba(128, 128, 128, 0.363);
    z-index: 1000;
   
}